extends layout

block content
    .inner
        form.form(action="/register" method="POST")
            pre= h.dump(body)
            h2= title
            label(for="name") Name
            input(type="text" name="name" value=body.name required)
            label(for="email") Email
            input(type="text" name="email" value=body.email required)
            label(for="password") Password
            input(type="password" name="password" value=body.password required)
            label(for="password-confirm") Confirm password
            input(type="password" name="password-confirm" value=body['password-confirm'] required)
            input.button(type="submit" value="Register")

