extends layout

include mixins/_storeCard

block content
    .inner
        h2 #{activeTag || title}
        ul.tags
            each tag in tags
                li.tag
                    a.tag__link(href=`/tags/${tag._id}` title=tag._id class=(tag._id === activeTag ? 'tag__link--active' : '' ))
                        span.tag__text= tag._id
                        span.tag__count= tag.count

        .stores
            each store in stores
                +storeCard(store)