extends layout

block content
    .inner
        h2 Top #{stores.length} Stores

        table.table
            thead
                tr
                    th Photo
                    th Ranking
                    th Name
                    th Reviews
                    th Average Rating
            tbody
                each store, i in stores
                    tr
                        td
                            a(href=`/store/${store.slug}` title=store.name)
                                img(width=200 src=`/uploads/${store.photo || 'store.png'}` alt=store.name)
                        td #{i + 1}
                        td: a(href=`/store/${store.slug}` title=store.name)= store.name
                        td= store.reviews.length
                        td #{Math.round(store.averageRating * 10) / 10} / 5